body{
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

#game, #rain {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
}
#rain {
  z-index: 10;
}
.game-wrap{
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

#result-box {
  position: fixed;
  z-index: 9;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  cursor: pointer;
}
#result-box.show {
  background: url(../images/level3.jpg) no-repeat center center;
  background-size: cover;
  display: block;
}
#result-box.level-2.show {
  background: url(../images/level1.jpg) no-repeat center center;
  background-size: cover;
}
#result-box.level-3.show {
  background: url(../images/level2.jpg) no-repeat center center;
  background-size: cover;
}
#result-box.level-4.show {
  background: url(../images/level3.jpg) no-repeat center center;
  background-size: cover;
}

#next-level-btn, #play, #restart {
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: #fff;
  font-size: 18px;
  font-family: 'Press Start 2P', cursive;
  padding: 10px 20px;
  z-index: 25;
  font-size: 16px;
  cursor: pointer;
  display: none;
  background: none;
  max-width: 200px;
  transition: all .5s;
}
#next-level-btn:hover, #play:hover, #restart:hover {
  right: 45px;
}
#next-level-btn.show, #play.show, #restart.show{
  display: block;
}

.popup{
  position: absolute;
  width: 300px;
  background: #fff;
  padding: 30px;
  top: 80px;
  left: 50%;
  margin-left: -150px;
  transition: all .5s;
  border: 1px solid #ccc;
  z-index: 12;
}

.popup.show{
  top:80px;
}
.popup.hide{
  top: -1000px;
}

#restart{
  display: none;
}
.popup.show #restart{
  display: block;
}

.popup.show #play{
  display: none;
}

.popup.show .message{
  display: none;
}

.popup .title{
  text-align: center;
  font-size: 29px;
  margin-bottom: 10px;
}

.popup .result{
  text-align: center;
  font-size: 21px;
  color: #0e9cad;
}

.btn{
  cursor: pointer;
  width: 100%;
  height: 40px;
  background: #f59326;
  text-align: center;
  color: #fff;
  line-height: 40px;
  font-size: 20px;
  margin: 10px 0;
}

#continue.show{
  display: block;
}
#continue.hide{
  display: none;
}
#stop{
  display: none;
}
#stop.show{
  display: block;
}
#stop.hide{
  display: none;
}

.panel{
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 35px 20px 0;
  color: #fff;
  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
}
.panel.show{
  display: flex;
  align-items: center;
}
.panel > div{
  margin: 0 7px;
  padding: 3px;
}

}
.panel.show{
  display: flex;
}
.panel .no-bullets {
  color: red;
  border-color: #ce1717;
}
.panel .power {
  position: absolute;
  right: 70px;
  margin-left: 23px;
  width: 190px;
  height: 20px;
  border: 3px solid #3d3d3d;
  border-radius: 20px;
  top: 35px;
  cursor: pointer;
  background: #0c0c0c;
}
.panel .power .spit-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: -30px;
  top: -14px;
  background:  #0c0c0c url(../images/spit.png) no-repeat center center;
  border: 3px solid #3d3d3d;
  background-size: contain;
}
.panel .power .spit-icon:before {
  content: '';
  position: absolute;
  left: -4px;
  top: 11px;
  background: #0c0c0c;
  height: 26px;
  width: 10px;
}
.panel .power .power-items {
  padding: 1px 3px 0;
  animation:powerAnimation 4s infinite;
  -moz-animation:powerAnimation 4s infinite;
  -webkit-animation:powerAnimation 4s infinite;
  overflow: hidden;
  height: 18px;
}
.panel .power .power-items .power-item {
  display: block;
  width: 21px;
  height: 18px;
  margin: 0;
  padding: 0;
  float: left;
  margin: 0 1px;

}
.panel .power .power-items .power-item.item1 {
  background: #fff;
}
.panel .power .power-items .power-item.item2 {
  background: #fff;
}
.panel .power .power-items .power-item.item3 {
  background:  url(../images/power1.png) no-repeat center center;
}
.panel .power .power-items .power-item.item4 {
  background:  url(../images/power2.png) no-repeat center center;
}
.panel .power .power-items .power-item.item5 {
  background:  url(../images/power3.png) no-repeat center center;
}
.panel .power .power-items .power-item.item6 {
  background:  url(../images/power5.png) no-repeat center center;
}
.panel .power .power-items .power-item.item7 {
  background:  url(../images/power5.png) no-repeat center center;
}
.panel .power .power-items .power-item:first-child {
  border-radius: 10px 0px 0 10px;
}
.panel .power .power-items .power-item:last-child {
  border-radius: 0 10px 10px 0;
}
.panel .power .meter {
  /*transition: all .5s;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  margin-left: -10px;
  animation:cycleMove 5s infinite;
  -moz-animation:cycleMove 5s infinite;
  -webkit-animation:cycleMove 5s infinite;*/
}

.result-message {
  position: absolute;
  z-index: 101;
  color: #fff;
  left: 50%;
  right: 0;
  display: flex;
  top: 43vh;
  justify-content: center;
  width: 760px;
  margin-left: -380px;
  animation:zoomText 1s infinite;
  -moz-animation:zoomText 1s infinite;
  -webkit-animation:zoomText 1s infinite;
  font-family: 'Press Start 2P', cursive;
}

#mobile-ctrls {
  display: none;
}
#mobile-ctrls.show {
  z-index: 10;
  display: block;
}
#mobile-ctrls.show .mobile-ctrl {
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  font-size: 14px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  position: fixed;
}
#mobile-ctrls.show .mobile-ctrl-spit {
  left: 15px;
  bottom: 15px;
  background: url(../images/spit.png) no-repeat center center;
  background-size: contain;
}
@media (max-width: 1024px) {
  #mobile-controls {
    display: block;
    z-index: 1;
  }
}

@keyframes powerAnimation {
  0% {
    width: 21px;
  }
  15% {
    width: 42px;
  }
  30% {
    width: 63px;
  }
  45% {
    width: 84px;
  }
  60% {
    width: 105px;
  }
  75% {
    width: 126px;
  }
  90% {
    width: 157px;
  }
  100% {

  }
}

@keyframes cycleMove {
  0% {
    left: 20px;
    background: green;
  }
  50% {
    left: 158px;
    background: orange;
  }
  100% {
    left: 20px;
    background: red;
  }
}

@keyframes zoomText {
	0% { font-size: 90px; }
	50% { font-size: 113px; }
	100% { font-size: 90px; }
}

/*@keyframes shake {
	0% { transform: translate(2px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(0px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(2px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(2px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}*/
