.first-scene {
  position: relative;
  z-index: 2;
}
.first-scene iframe {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
}
.person {
  position: absolute;
  z-index: 2;
  max-width: 250px;
  left: 20%;
  bottom: -65vh;
}

.intro-wrap {
  background: url(../images/intro_2.jpg) no-repeat center center;
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.intro-wrap.hide {
  display: none;
}

.story {
  position: absolute;
  overflow: hidden;
}

.story.active {
  z-index: 20;
  transition: all 3s;
  transform: scale(1.2);
  overflow: hidden;
}

.story-1 {
  top: 5vh;
  left: 2%;
  height: 40vh;
  width: 25%;
  background: url(../images/story1.jpg) no-repeat center center;
  background-size: contain;
}
.story-1.active {
  left: 10%;
  top: 7vh;
}
.story-2 {
  top: 7vh;
  left: 28%;
  height: 45vh;
  width: 35%;
  background: url(../images/story2.jpg) no-repeat center center;
  background-size: contain;
}
.story-2.active {
  top: 10vh;
}
.story-3 {
  top: 7vh;
  left: 65%;
  height: 45vh;
  width: 33%;
  background: url(../images/story3.jpg) no-repeat center center;
  background-size: contain;
}
.story-3.active {
  top: 10vh;
  left: 57%;
}
.story-4 {
  top: 48vh;
  left: 2%;
  height: 50vh;
  width: 25%;
  background: url(../images/story4.jpg) no-repeat center center;
  background-size: contain;
}
.story-4.active {
  left: 10%;
  top: 40vh;
}
.story-5 {
  top: 54vh;
  left: 28%;
  height: 44vh;
  width: 70%;
  background: url(../images/story5.jpg) no-repeat center center;
  background-size: contain;
}
.story-5.active {
  top: 40vh;
  left: 20%;
}

.story-5.active .bubble{
  font-size: 15px;
  width: 124px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  display: flex;
  align-items: center;
  padding: 0 18px;
}
.story-5.active .bubble.enemies_bubble {
  left: 20%;
  top: 15%;
}
.story-5.active .bubble.heroes_bubble {
  right: 20%;
  top: 32%;
}
.intro-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.95);
  z-index: 10;
}

.story-5.active .bubble .bubble-text {
  font-family: monospace;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  animation:
    typing 2.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

#faq {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: #fff;
  z-index: 12;
  background: url(../images/firstbg.jpg) no-repeat center center;
  background-size: cover;
  font-family: 'Press Start 2P', cursive;
}

#faq.show {
  display: block;
}

#faq.show .faq-wrap {
  height: 100vh;
  margin: 200px auto;
  max-width: 500px;
}

#faq.show .faq-overlay {
  background: rgba(0,0,0,0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 15;
}

#faq.show .faq-wrap {
  margin: 20vh auto 2vh;
  position: relative;
}

#faq.show .faq-wrap .game-title {
  font-size: 30px;
  text-align: center;
  width: 100%;
  height: 75px;
  animation:textAnimation 1s infinite;
  -moz-animation:textAnimation 1s infinite;
  -webkit-animation:textAnimation 1s infinite;*/
}

#faq.show .faq-wrap .game-rules .game-rules-item{
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 360px;
  margin: 18px auto;
}

#faq.show .faq-wrap .game-rules .game-rules-item .game-rules-btn{
  font-size: 14px;
}

#faq.show .faq-wrap .game-rules .game-rules-item span{
  font-size: 14px;
}

@media only screen and (orientation:portrait){
  .game-wrap {
    display: none;
  }
  .landscape-message {
    display: block;
    display: flex;
    font-size: 28px;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    color: #777;
    height: 100vh;
    padding: 0 10px;
  }
}

@media only screen and (orientation:landscape){
  .landscape-message {
    display: none;
  }
  .game-wrap {
    display: block;
  }
}

@media (max-width: 767px) {
  .story-1.active, .story-2.active, .story-3.active , .story-4.active, .story-5.active{
    left: 10%;
    top: 3vh;
    right: 10%;
    bottom: 3vh;
    width: 80%;
    height: 94vh;
  }
}

@keyframes textAnimation {
  0% {
    font-size: 30px;
  }
  50% {
    font-size: 32px;
  }
  100% {
    font-size: 30px;
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
